$timing-function: ease-out;
$slide-duration: 3.5s;

@keyframes glow {
    0% {opacity: 0.1;}
    50% {opacity: 0.6;}
    100% {opacity: 0.1;}
}

@keyframes gentleGlow {
    0% {opacity: 0.3;}
    50% {opacity: 0.6;}
    100% {opacity: 0.3;}
}

@keyframes rotateCW {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes rotateCCW {
  0% {transform: rotate(360deg);}
  100% {transform: rotate(0deg);}
}

@keyframes showSlide {
  0% {opacity: 0}
  10% {opacity: 1}
  90% {opacity: 1}
  100% {opacity: 0}
}

.star-part {
  visibility: hidden;
}

.star .shadow {
   background:green;
}

.star.G {
  .center {
    visibility: visible;
    fill: #0d9065;
  }
  .mark {
    fill: #097451;
    opacity: 0.5;
  }
  .glow1 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function infinite;
    fill: #0d9065;
  }
  .glow2 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function 1s infinite;
    fill: #0d9065;
  }
}

.star.K {
  .center {
    visibility: visible;
    fill: #f67c25;
  }
  .mark {
    fill: #062a67;
    opacity: 0.1;
  }
  .glow1 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function infinite;
    fill: #f67c25;
  }
  .glow2 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function 1s infinite;
    fill: #f67c25;
  }
}

.star.O {
  .center {
    visibility: visible;
    fill: #155299;
  }
  .mark {
    fill: #062a67;
    opacity: 0.1;
  }
  .glow1 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function infinite;
    fill: #03185a;
  }
  .glow2 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function 1s infinite;
    fill: #062a67;
  }
}
.star.M {
  .center {
    visibility: visible;
    fill: #c30b1c;
  }
  .mark {
    fill: #c30b1c;
    opacity: 0.1;
  }
  .glow1 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function infinite;
    fill: #a31322;
  }
  .glow2 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function 1s infinite;
    fill: #e60217;
  }
}
.star.F {
  .center {
    visibility: visible;
    fill: #e7fffa;
  }
  .mark {
    fill: #062a67;
    opacity: 0.1;
  }
  .glow1 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function infinite;
    fill: #c5fcf1;
  }
  .glow2 {
    visibility: visible;
    opacity: 0;
    animation: glow 3s $timing-function 1s infinite;
    fill: #dffcf6;
  }
}

.intro-dialog {
  background: radial-gradient(ellipse at center, #210a59 0%, #10052b 99%);
  position: relative;
  z-index: 10000;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: calc(1vw + 16px);
    padding: 10px;
    text-decoration: none;
    color: #444444;

    &:hover {
      background-color: #10052b;
      color: #ffffff;
    }
  }

  .slide-show {
    position: relative;
    overflow: auto;
    width: 70vw;
    height: 40vh;
    text-align: center;
    font-weight: bold;
  }

  .slide {
    opacity: 0;
    animation-name: showSlide;
    animation-duration: $slide-duration;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    font-size: 5vw;
    line-height: 5.5vw;
    color: white;
    width: 100%;
  }

  .slide2 {
    animation-delay: $slide-duration;
  }

  .slide3 {
    animation-delay: ($slide-duration * 2);
  }

  .slide4 {
    animation-delay: ($slide-duration * 3);
  }
  .slide5 {
    animation-delay: ($slide-duration * 4);
  }
}

.instructions-dialog {
  background: radial-gradient(ellipse at center, #210a59 0%, #10052b 99%);
  position: relative;
  z-index: 10000;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: calc(1vw + 16px);
    padding: 10px;
    text-decoration: none;
    color: #444444;

    &:hover {
      background-color: #10052b;
      color: #ffffff;
    }
  }

  .next {
    position: absolute;
    padding: 0 20px;
    right: 0;
    top: 50%;
    cursor: pointer;
  }

  .previous {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    cursor: pointer;
  }

  .slide-show {
    position: relative;
    overflow: auto;
    width: 70vw;
    height: 70vh;
    text-align: center;
    font-weight: bold;
  }

  .slide {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    font-size: 5vw;
    line-height: 5vw;
    width: 100%;

    p {
      margin: 0;
      padding-top: 20px;
      font-size: calc(1vw + 16px);
      line-height: 3.5vw !important;
    }
    button {
      margin-top: 20px;
      width: 45vw;
      color: white;
      border: 3px solid white;
      padding: 1vw 2vw;
      font-size: 2vw;
      background-color: transparent;

      &:hover {
        background-color: #10052b;
      }
    }
  }
}

.accretion {
  animation-name: gentleGlow, rotateCW;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  opacity: 0.3;
  transform-origin: 50% 50%;

  .disk-4 {
    animation-delay: 0s;
  }
  .disk-3 {
    animation-delay: 1s;
  }
  .disk-2 {
    animation-delay: 3s;
  }
  .disk-1 {
    animation-delay: 5s;
  }
}

.hudDetail {
  font-size: 0.65em;

  span {
    font-weight: bold;
    font-size: 1.5em;
  }
}
